mem.*
*.class
# Package Files #
*.war
*.ear
*.DS_Store
.classpath
.project
.settings/
target/
.springBeans
*.ucls
.lock
version.ini
.log
properties.index
workingsets.xml
.metadata/
MANIFEST.MF
!lib/com/oracle/ojdbc14/10.2.0/ojdbc14-10.2.0.jar
.idea/
*.iml
.DS_Store